<%= form_with(model: sticky_note) do |form| %>
  <% if sticky_note.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% sticky_note.errors.each do |error| %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <div><%= error.full_message %></div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card text-dark bg-warning mb-3 row justify-content-center" style="max-width: 18rem;">
  <br/>
  <div class="field form-group">
    <%= form.text_field :title, class:"form-control", placeholder:"Title" %>
  </div>
  <div class="field form-group">
    <%= form.text_area :body, class:"form-control", placeholder:"Body"  %>
  </div>
  <br/>
</div>

<div class="actions">
  <%= form.submit class: "btn btn-success btn-sm"%>
</div>

<% end %>